html {
  height: 100%;
  width: 100%;
}
img {
  width: 370px;
  height: 370px;
  object-fit: cover;
}
H1  {
  background-color: grey;
}
h2 {
  background-color: darkblue;
}

p {
  background-color: lightgrey;
}
ul {
  background-color: lightgrey;  
}